body {
  background-color: #9FA8DA;
}
.App {
  
}
.App-header {
  background-color: #3F51B5;
  color: white;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.App-header .icon {
  height: 60px;
  margin-left: 20px;
  cursor: pointer;
  position: absolute;
  left: 0;
}
.App-header h1 {
  color: white;
}

.cardForm {
  width: 90%;
  max-width: 600px;
  border-radius: 3px;
  margin: 100px auto 100px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  background-color: white;
}
.cardForm-header {
  background-color: #3F51B5;
  color: white;
  text-align: center;
  grid-column: 1/5;
  border-radius: 3px;
}
.cardForm-header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}
.cardForm label {
  display: flex;
  flex-direction: column;
}
.cardForm label input {
  margin-top: 5px;
  padding: 0 5px;
  height: 30px;
}
.cardForm div:nth-child(2) {
  grid-column: 1/5;
}
.cardForm div:nth-child(3) {
  grid-column: 1/3;
}
.cardForm div:nth-child(4) {
  grid-column: 3/5;
}
.cardForm .button {
  grid-column: 1/5;
  cursor: pointer;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #FFC107;
  color: #020f50;
  font-size: 18px;
  font-weight: 600;
  border-radius: 3px;
}
.cardForm .button:hover {
  background-color: #9FA8DA;
  color: white;
}