.menu {
    background-color: #3F51B5;
    max-width: 400px;
    width: 100%;
    color: white;
    position: absolute;
    top: 80px;
    left: 0;
    height: calc(100% - 80px);
}
.menu ul li {
    list-style-type: none;
    font-size: 18px;
    padding: 10px 5px;
}
.menu ul li a {
    color: white;
}